<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Tela de Edição</title>
</head>
<body>
    <div class="container">
        <h1>Tela de Edição</h1>
        {{#each produtos}}
        {{#dataValues}}
        <form action="/atualizar" method="POST">

        <input type="hidden" name="id" id="id" value="{{id}}">
        
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" placeholder="Digite o nome" name="nome" value="{{nome}}">
            </div>
            <div class="form-group">
                <label for="endereco">Preco:</label>
                <input type="text" class="form-control" id="preco" placeholder="Digite o preço" name="preco" value="{{endereco}}">
            </div>
            <div class="form-group">
                <label for="bairro">Quantidade:</label>
                <input type="text" class="form-control" id="quantidade" placeholder="Digite a quantidade" name="quantidade" value="{{bairro}}">
            </div>
            
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
        {{/dataValues}}
        {{/each}}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>